/* #blob {
  z-index: -6;
  height: 250px;
  aspect-ratio: 1;
  background: linear-gradient(to right, #ff5588, #ab4bff);
  position: fixed;
  border-radius: 50%;
} */

.cursor {
  z-index: 100;
  position: fixed;
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #333;
  pointer-events: none;
}
