#blob {
  z-index: -100;
  height: 250px;
  aspect-ratio: 1;
  background: linear-gradient(to right, #ff5588, #ab4bff);
  position: fixed;
  border-radius: 50%;
  animation: rotate 20s infinite;
}


@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}
