.quote-wrapper {
  margin-top: 8rem;
  width: 100%;
  height: 40dvh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #232323;
}
.quote {
  font-size: 3.5vw;
  width: 80%;
  background: linear-gradient(
    300deg,
    #ffee07,
    #ff2b6a,
    #ab4bff,
    #5ca2ff,
    #df1700
  );
  background-size: 360% 360%;
  animation: gradient-animation 30s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (max-width: 1024px) {
  .quote {
    font-size: 3rem; /* Define an appropriate font size for larger screens */
  }
}

@media screen and (max-width: 767px) {
  .quote-wrapper {
    height: 40dvh;
  }
  .quote {
    width: 100%;
    font-size: 2.3rem;
  }
}