.hero-background-circle {
  height: 700px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  z-index: -2;
  background-color: #232323;
  left: calc(50% - 200px);
  top: 16%;
}

.location {
  
  position: absolute;
  display: none;
  align-items: center;
  padding: 10px;
  height: 100px;
  width: 220px;
  border-radius: 0 55px 55px 0;
  background-color: #232323;
  color: #ddd;
}

.hero-background-cross {
  height: 700px;
  aspect-ratio: 1;
  position: absolute;
  z-index: -1;
  left: 53%;
  top: 30%;
  rotate: 45deg;
}

.hero-background-cross:before,
.hero-background-cross:after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #151515;
}

.hero-background-cross:before {
  left: 50%;
  width: 12%;
  margin-left: -6%;
  height: 100%;
}

.hero-background-cross:after {
  top: 50%;
  height: 12%;
  margin-top: -6%;
  width: 100%;
}

.hero-section {
  margin: auto;
  width: 80%;
  height: calc(100dvh - 8rem);
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.hero-left {
  flex: 1;
  /* width: 50%; */
  margin-bottom: 7rem;
}
.hero-header {
  font-size: 5rem;
  letter-spacing: 3.5px;
  color: #eee;
  line-height: 1.3;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 10px;
}
.hero-desc {
  color: #ddd;
  margin: 1.5rem 0;
}

.more-btn {
  font-size: 1.3rem;
  width: 250px;
  margin: 4rem 0;
  padding: 20px;
  background: none;
  color: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  /* border: 1px solid #333; */
  border-radius: 35px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.more-btn::before {
  width: 70px;
  content: "";
  position: absolute;
  z-index: -1;
  background: #0064FF;
  inset: 0;
  border-radius: 35px;
  transition: all 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform-origin: left;
}
.more-btn:hover::before,
.more-btn:focus-visible::before {
  width: 100%;
}
.more-btn:hover {
  translate: 20px;
}


.more-btn .arrow {
  transition: transform 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.more-btn:hover .arrow {
  transform: rotate(-30deg);
}

.social-links {
  color: #ddd;
  display: flex;
  gap: 4rem;
}
.social-item:not(:nth-child(2)) {
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.social-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #ddd;
  height: 2px;
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.social-item:not(:nth-child(2)):hover {
  transform: translate(10px);
}
.social-item:hover::before,
.social-item:focus-visible:before {
  left: 0;
  right: auto;
  width: 100%;
}

.hero-right {
  /* flex: 1; */
  width: 40%;
  margin-bottom: 4rem;
}
.hero-right img {
  margin-left: 4.5rem;
  height: 575px;
}
