.hero-section {
  margin: auto;
  width: 80%;
  height: 100dvh;
  display: flex;
  flex-wrap: wrap;
}
.hero-left {
  width: 60%;
  line-height: 1.1;
}
.hero-header {
  font-size: 4rem;
  letter-spacing: 3.5px;
  color: #eee;
  margin-bottom: 1.5rem;
}
.hero-desc {
  color: #ddd;
  margin: 1.5rem 0;
}

.more-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
  width: 175px;
  background: none;
  border: none;
  color: #ddd;
  padding: 10px;
  border-radius: 35px;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  border: 1px solid #333;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 4rem 0;
}

.more-btn::before {
  width: 40px;
  content: "";
  position: absolute;
  z-index: -1;
  background: #555;
  inset: 0;
  border-radius: 35px;
  transition: all 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform-origin: left;
}
.more-btn:hover::before,
.more-btn:focus-visible::before {
  width: 100%;
}
.more-btn:hover {
  translate: 20px;
}

.more-btn .arrow {
  transition: transform 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.more-btn:hover .arrow {
  transform: rotate(-30deg);
}

.social-links {
  color: #ddd;
  display: flex;
  gap: 4rem;
}
.social-item:not(:nth-child(2)) {
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.social-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #ddd;
  height: 2px;
  transition-property: width;
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.social-item:not(:nth-child(2)):hover {
  transform: translate(10px);
}
.social-item:not(:nth-child(2)):hover::before,
.social-item:not(:nth-child(2)):focus-visible:before {
  left: 0;
  right: auto;
  width: 100%;
}
