/* .location {
  position: absolute;
  display: none;
  align-items: center;
  padding: 10px;
  height: 100px;
  width: 220px;
  border-radius: 0 55px 55px 0;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
} */

/* .hero-background-cross {
  height: 700px;
  aspect-ratio: 1;
  position: absolute;
  z-index: -1;
  left: 53%;
  top: 30%;
  rotate: 45deg;
} */

/* .hero-background-cross:before,
.hero-background-cross:after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #151515;
} */
/* 
.hero-background-cross:before {
  left: 50%;
  width: 12%;
  margin-left: -6%;
  height: 100%;
} */

/* .hero-background-cross:after {
  top: 50%;
  height: 12%;
  margin-top: -6%;
  width: 100%;
} */

.hero-background-circle {
  height: 700px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  background-color: var(--bg-secondary);
  left: calc(50% - 200px);
  top: 15%;
}

.hero-section {
  position: relative;
  margin: auto;
  width: 80%;
  height: calc(100dvh - 8rem);
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.scroll-down {
  position: absolute;
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  color: var(--text-tertiary);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 450ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: red;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
}

.scroll-down span {
  transform: rotate(90deg);
  transform-origin: center;
  font-size: 0.825rem;
  letter-spacing: 5px;
}
.hero-left {
  flex: 1;
  margin-bottom: 8rem;
}
.hero-header {
  font-size: 5rem;
  letter-spacing: 3.5px;
  color: var(--text-primary);
  line-height: 1.3;
  margin-bottom: 4rem;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.social-links {
  color: var(--text-tertiary);
  display: flex;
  gap: 3rem;
  margin-top: 4rem;
}
.social-item:not(:nth-child(2)) {
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.social-item::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: var(--text-tertiary);
  height: 2px;
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.social-item:not(:nth-child(2)):hover {
  transform: translate(10px);
}
.social-item:hover::before,
.social-item:focus-visible:before {
  left: 0;
  right: auto;
  width: 100%;
}

.hero-right {
  width: 560px;
  margin-bottom: 8rem;
}
.image-container {
  width: 100%;
}
.hero-img {
  object-fit: cover;
  margin: auto;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .hero-left .custom-btn {
    height: 70px;
  }
  .hero-left .custom-btn::before {
    width: 70px;
  }
  .hero-background-circle {
    height: 550px;
    left: calc(50% - 125px);
    top: 20%;
  }
  .hero-right {
    width: 450px;
  }
  .hero-right,
  .hero-left {
    margin-bottom: 8rem;
  }
  .hero-section {
    height: calc(100dvh - 6rem);
  }
  .hero-header {
    font-size: 3.9rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .hero-left .custom-btn {
    height: 60px;
  }
  .hero-left .custom-btn::before {
    width: 60px;
  }
  .hero-background-circle {
    height: 500px;
    left: calc(50% - 100px);
    top: 20%;
  }
  .hero-left,
  .hero-right {
    margin-bottom: 10rem;
  }
  .hero-section {
    height: calc(100dvh - 7rem);
  }
  .hero-header {
    font-size: 2.7rem;
  }
  .hero-right {
    width: 400px;
  }
  .social-links {
    margin-top: 3rem;
    font-size: 0.8rem;
    gap: 3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero-left .custom-btn {
    height: 50px;
  }
  .hero-left .custom-btn::before {
    width: 50px;
  }
  .hero-background-circle {
    height: 400px;
    left: calc(50% - 100px);
    top: 25%;
  }
  .hero-left,
  .hero-right {
    margin-bottom: 10rem;
  }
  .hero-section {
    width: 90%;
    height: calc(100dvh - 7rem);
  }
  .hero-header {
    font-size: 2.5rem;
  }
  .hero-right {
    width: 360px;
  }
  .social-links {
    margin-top: 3rem;
    font-size: 0.8rem;
    gap: 2rem;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .hero-background-circle {
    height: 300px;
    left: calc(50% - 100px);
    top: 25%;
  }
  .hero-left,
  .hero-right {
    margin-bottom: 10rem;
  }
  .hero-section {
    width: 90%;
    height: calc(100dvh - 7rem);
  }
  .hero-header {
    font-size: 2.5rem;
  }
  .hero-right {
    width: 360px;
  }
  .social-links {
    margin-top: 3rem;
    font-size: 0.8rem;
    gap: 2rem;
  }
}
