@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --text-primary: #eee;
  --text-secondary: #ddd;
  --text-tertiary: #bbb;

  --bg-primary: #1d1d1d;
  --bg-secondary: #232323;

  --accent-primary: #0064ff;
  --accent-secondary: #277cff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-primary);
  /* cursor: none; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
input,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #555;
}
::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}

#blur {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -5;
  backdrop-filter: blur(170px);
}

